/*
Color Palette:
         text - #C6C6C6
text inactive - #424959
   background - #1F2430
 border-color - #191D26
        hover - #2C3445
*/

QWidget {
    font-family: Ubuntu Mono;
    font-size: 14pt;
    color: #C6C6C6;
    background-color: #1F2430;
}

QWidget#Hotline {
    border: 1 solid #191D26;
    border-radius: 3;
}

QTextEdit {
    font-family: Ubuntu Mono;
    font-size: 12pt;
    color: #C6C6C6;
    background-color: #1F2430;
}

QPushButton {
    outline: none;
    border: 0;
    color: #C6C6C6;
    background-color: #1F2430;
}

QPushButton:hover {
    color: #C6C6C6;
    background-color: #2C3445;
}


QPushButton:pressed {
    background-color: #2C3445;
}

QLineEdit {
    outline: none;
    border: 0;
    margin-left: 0px;
    padding-left: 20px;
}

QLineEdit[placeholder=false] {
    color: #C6C6C6;
}

QLineEdit[placeholder=true] {
    color: #424959;
}

QListView {
    border-top: 1 solid #191D26;
    border-left: 1 solid #191D26;
    border-right: 1 solid #191D26;
    border-bottom: 1 solid #191D26;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #424959;
    background-color: #1F2430;
}

QListView::item {
    height: ${height};
    border: 0px;
    padding-left: 20px;
}

QListView::item:selected:active {
    color: #C6C6C6;
    background-color: #2C3445;
}

QListView::item:selected:!active {
    color: #C6C6C6;
    background-color: #2C3445;
}

QListView::item:hover {
    background-color: #2C3445;
}

QListView::item:last {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #2C3445;
}

QScrollBar:vertical {
    background: #1F2430;
    width: 6px;
    margin: 40px 0 40px 0;
}

QScrollBar::handle:vertical {
    background: #424959;
    min-height: 10px;
}

QScrollBar::add-line:vertical {
    border: 0;
    background: #1F2430;
    height: 40px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0;
    background: #1F2430;
    height: 40px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 0;
    width: 0;
    height: 0;
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    height: 0;
}
