/*
Color Palette:
         text - #EEEEEE
text inactive - #AAAAAA
   background - #333333
       border - #222222
        hover - #404040
       active - #5285A6
*/

QWidget {
    font-family: Ubuntu Mono;
    font-size: 14pt;
    color: #EEEEEE;
    background-color: #333333;
}

QWidget#Hotline {
    border: 2 solid #5285A6;
    border-radius: 3;
}

QTextEdit {
    font-family: Ubuntu Mono;
    font-size: 12pt;
    color: #EEEEEE;
    background-color: #333333;
}

QPushButton {
    outline: none;
    border: 0;
    color: #EEEEEE;
    background-color: #333333;
}

QPushButton:hover {
    background-color: #404040;
}

QPushButton:pressed {
    background-color: #5285A6;
}

QLineEdit {
    outline: none;
    border: 0;
    margin-left: 0px;
    padding-left: 20px;
}

QListView {
    border-top: 2 solid #5285A6;
    border-left: 2 solid #222222;
    border-right: 2 solid #222222;
    border-bottom: 2 solid #222222;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #AAAAAA;
    background-color: #333333;
}

QListView::item {
    height: ${height};
    border: 0px;
    padding-left: 20px;
}

QListView::item:selected:active {
    color: #EEEEEE;
    background-color: #5285A6;
}

QListView::item:selected:!active {
    color: #EEEEEE;
    background-color: #5285A6;
}

QListView::item:hover {
    color: #AAAAAA;
    background-color: #404040;
}

QListView::item:last {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #5285A6;
}

QScrollBar:vertical {
    background: #333333;
    width: 6px;
    margin: 40px 0 40px 0;
}

QScrollBar::handle:vertical {
    background: #AAAAAA;
    min-height: 10px;
}

QScrollBar::add-line:vertical {
    border: 0;
    background: #333333;
    height: 40px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0;
    background: #333333;
    height: 40px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 0;
    width: 0;
    height: 0;
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    height: 0;
}
