QPushButton#mode {
    border: 0;
    background: none;
    font-size: 11pt;
    font-weight: 500;
}

QPushButton#mode:pressed {
    color: rgb(0, 35, 55);
    background: rgb(115, 115, 115);
}

QPushButton#multiline {
    border: 0;
    image: url(%(rel)s/icons/multiline.png);
}

QPushButton#multiline:checked {
    border: 0;
    image: url(%(rel)s/icons/multiline_pressed.png);
}

QTextEdit#input {
    border: 0;
    height: 20;
    color: white;
}

QTextEdit#input:focus {}
